@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$purple1;
    }

    @media (max-width: 640px) {
        display: block;
    }

    @media (max-width: 1024px) {
        display: flex;
    }
}